<section>
    <div class="container mt-5 mb-5 d-none d-md-block" style="display: flex; justify-content: center;">
      <h1 style="font-size: 60px; font-weight: 200;">Latest Products</h1>
    </div>
</section>
<div class="d-flex container" style="max-width: 92%;">
  <button class="btn disabled" onclick="prev()" >
    <i class="bi bi-arrow-left-short text-dark fs-3"></i>
  </button>

  <ws-product-card class="ms-1 me-1"></ws-product-card>
  <ws-product-card class="ms-1 me-1"></ws-product-card>
  <ws-product-card class="ms-1 me-1"></ws-product-card>
  <ws-product-card class="ms-1 me-1"></ws-product-card>
  <ws-product-card class="ms-1 me-1"></ws-product-card>
  
  <button class="btn" onclick="prev()" style="margin-left: auto;">
    <i class="bi bi-arrow-right-short text-dark fs-3"></i>
  </button>
</div>
  
    <!-- 7. Recommended Products Starts -->
    <!-- <div class="container mb-4 d-none d-md-flex" style="display: flex; justify-content: space-evenly;">
        <div id="prod_1_md" class="" style="margin: 0 10px;">
          <img src="assets/img/products/product-1.jpg" alt="">
          <h4>Samsung Galaxy S5 2015</h4>
          <b style="font-size: 16px; color: cornflowerblue;">$700.00</b> &nbsp; <p style="font-size: 12px; text-decoration: line-through;">$100.00</p>
          <br>
          <span class="glyphicon glyphicon-shopping-cart"></span>
          <b>Add to cart</b>
        </div>
        
        <div id="prod_2_md" class="">
          <img src="assets/img/products/product-2.jpg" alt="">
          <h4>Nokia Lumia 1320</h4>
          <b style="font-size: 16px; color: cornflowerblue;">$899.00</b> &nbsp; <p style="font-size: 12px; text-decoration: line-through;">$999.00</p>
          <br>
          <span class="glyphicon glyphicon-shopping-cart"></span>
          <b>Add to cart</b>
        </div>
        
        
        <div id="prod_3_md" class="">
          <img src="assets/img/products/product-3.jpg" alt="">
          <h4>LG Leon 2015</h4>
          <b style="font-size: 16px; color: cornflowerblue;">$400.00</b> &nbsp; <p style="font-size: 12px; text-decoration: line-through;">$425.00</p>
          <br>
          <span class="glyphicon glyphicon-shopping-cart"></span>
          <b>Add to cart</b>
        </div>
        
        
        <div id="prod_4_md" class="">
          <img src="assets/img/products/product-4.jpg" alt="">
          <h4>Sony Xperia</h4>
          <b style="font-size: 16px; color: cornflowerblue;">$200.00</b> &nbsp; <p style="font-size: 12px; text-decoration: line-through;">$225.00</p>
          <br>
          <span class="glyphicon glyphicon-shopping-cart"></span>
          <b>Add to cart</b>
        </div>
        
        
        <div id="prod_5_md" class="">
          <img src="assets/img/products/product-5.jpg" alt="" style="height: 243px; width: 195px; border-style: solid; border-width: .1mm; border-color: rgb(233, 230, 230);">
          <h4>iPhone 6</h4>
          <b style="font-size: 16px; color: cornflowerblue;">$1200.00</b> &nbsp; <p style="font-size: 12px; text-decoration: line-through;">$1355.00</p>
          <br>
          <span class="glyphicon glyphicon-shopping-cart"></span>
          <b>Add to cart</b>
        </div>
        
        
        <div id="prod_6_md" class="">
          <img src="assets/img/products/product-6.jpg" alt=""  style="height: 243px; width: 195px;">
          <h4>Samsung Galaxy S5 2015</h4>
          <b style="font-size: 16px; color: cornflowerblue;">$700.00</b> &nbsp; <p style="font-size: 12px; text-decoration: line-through;">$100.00</p>
          <br>
          <span class="glyphicon glyphicon-shopping-cart"></span>
          <b>Add to cart</b>
        </div>
      </div>
      <div class="container mb-5 d-none d-md-flex" style="display: flex; justify-content: center;">
        <button id="prev_md" onclick="prev()" class="btn btn-light me-3 p-2 disabled" style="border-color: rgb(95, 102, 102);">Prev</button>
        <button id="next_md" onclick="next()" class="btn btn-light p-2" style="border-color: rgb(95, 102, 102);">Next</button>
      </div> -->
    
      <!-- for mobile starts  -->
      <!-- <div class="container mb-4 mt-3 d-md-none" style="display: flex; justify-content: space-evenly;">
        <div id="prod_1_sm" class="" style="margin: 0 10px; width: 30%;">
          <img src="assets/img/products/product-1.jpg" alt="" style="width: 100%;" >
          <h6>Samsung Galaxy S5 2015</h6>
          <b style="font-size: 10px; color: cornflowerblue;">$700.00</b> &nbsp; <p style="font-size: 7px;">$100.00</p>
          <br>
          <span class="glyphicon glyphicon-shopping-cart"></span>
          <b style="font-size: 10px;">Add to cart</b>
        </div>
        
        <div id="prod_2_sm" class="" style="margin: 0 10px; width: 30%;">
          <img src="assets/img/products/product-2.jpg" alt="" style="width: 100%;" >
          <h6>Nokia Lumia 1320</h6>
          <b style="font-size: 10px; color: cornflowerblue;">$899.00</b> &nbsp; <p style="font-size: 7px;">$999.00</p>
          <br>
          <span class="glyphicon glyphicon-shopping-cart"></span>
          <b style="font-size: 10px;">Add to cart</b>
        </div>
        
        
        <div id="prod_3_sm" class="" style="margin: 0 10px; width: 30%;">
          <img src="assets/img/products/product-3.jpg" alt="" style="width: 100%;">
          <h6>LG Leon 2015</h6>
          <b style="font-size: 10px; color: cornflowerblue;">$400.00</b> &nbsp; <p style="font-size: 7px;">$425.00</p>
          <br>
          <span class="glyphicon glyphicon-shopping-cart"></span>
          <b style="font-size: 10px;">Add to cart</b>
        </div>
        
        
        <div id="prod_4_sm" class="" style="margin: 0 10px; width: 30%;">
          <img src="assets/img/products/product-4.jpg" alt="" style="width: 100%;">
          <h6>Sony Xperia</h6>
          <b style="font-size: 10px; color: cornflowerblue;">$200.00</b> &nbsp; <p style="font-size: 7px;">$225.00</p>
          <br>
          <span class="glyphicon glyphicon-shopping-cart"></span>
          <b style="font-size: 10px;">Add to cart</b>
        </div>
        
        
        <div id="prod_5_sm" class="" style="margin: 0 10px; width: 30%;">
          <img src="assets/img/products/product-5.jpg" alt="" style="width: 100%; border-style: solid; border-width: .1mm; border-color: rgb(233, 230, 230);">
          <h6>iPhone 6</h6>
          <b style="font-size: 10px; color: cornflowerblue;">$1200.00</b> &nbsp; <p style="font-size: 7px;">$1355.00</p>
          <br>
          <span class="glyphicon glyphicon-shopping-cart"></span>
          <b style="font-size: 10px;">Add to cart</b>
        </div>
        
        
        <div id="prod_6_sm" class="" style="margin: 0 10px; width: 30%;">
          <img src="assets/img/products/product-6.jpg" alt=""  style="width: 100%;">
          <h6>Samsung Galaxy S5 2015</h6>
          <b style="font-size: 10px; color: cornflowerblue;">$700.00</b> &nbsp; <p style="font-size: 7px;">$100.00</p>
          <br>
          <span class="glyphicon glyphicon-shopping-cart"></span>
          <b style="font-size: 10px;">Add to cart</b>
        </div>
      </div>
      <div class="container mb-5 d-md-none " style="display: flex; justify-content: center;">
        <button id="prev_sm" onclick="prev()" class="btn btn-primary me-3 p-2  disabled">Prev</button>
        <button id="next_sm" onclick="next()" class="btn btn-primary p-2">Next</button>
      </div> -->
      <!-- for mobile ends  -->
      <!-- Recommended Products Ends -->

      
  <!-- <script>
    
    const total = 6;
    let cycle = 5;
    let y = '_md';
    if(window.innerWidth <= 768){
      cycle = 3;
      y='_sm';
    }else{
      cycle = 5;
      y='_md';
    }
    var list = new Array(cycle);
    
    
    (function start() {
      let i = 1;
      while(i<=cycle){
        list.push(i++);
      }

      add(list);
    })();


    function add(list) {
      this.list.forEach(x => {
        document.getElementById('prod_' + x + y).classList.remove('');
      })

    }
    
    function remove(list) {
      this.list.forEach(x => {
        document.getElementById('prod_' + x + y).classList.add('');
      })
    }

    function prev() {
      remove(list);
      let first = list.filter(x => x != null).slice(0)[0];
      list = [];
      let i=1;
      while(i<=cycle){
        list.push(first-i);
        i++;
      }
      list.sort();
      add(list);
      first = list.filter(x => x != null).slice(0)[0];
      if(first === 1) {
        document.getElementById("prev" + y).classList.add("disabled");
      }
      document.getElementById("next" + y).classList.remove("disabled");
      
    }
    
    function next() {
      remove(list);
      let last = list.filter(x => x != null).slice(-1)[0];
      list = [];
      if(last+cycle >= total){
        while(last!=total){
          list.push(++last);
        }
        list.sort();
        add(list);
        document.getElementById("prev" + y).classList.remove("disabled");
      }else{
        list = [];
        let i = 0;
        while(i<cycle){
          list.push(i+1);
          i++;
        }
        list.sort();
        add(list);
        document.getElementById("prev" + y).classList.remove("disabled");
      }
      last = list.filter(x => x != null).slice(-1)[0];
      if(last === total){
        document.getElementById("next" + y).classList.add("disabled");
      }
    }
  </script> -->

      