<h6 class="d-inline position-relative p-2 d-none d-md-inline" style="color: #757677; border-color: #e1e2e4; border-style: solid; border-width: 0.6mm; padding: 5px 5px" >
    Cart -   <b style="color: rgba(46, 97, 165, 0.822);">${{totalAmount}}&nbsp;&nbsp;</b>  
    <i class="bi bi-cart-fill"></i>
    &nbsp;
    <span class="text-center p-1 bg-secondary rounded-circle " style="font-size: 12px; width: 18px; height: 18px; color: white; line-height: 10px; position: absolute; top:-9px; right:-9px">{{itemCount}}</span>
</h6>