<div class="card mb-1" style="width: 13rem;">
    <img src="assets/img/products/product-{{random}}.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h6 style="font-size: 16px; margin-bottom: 0;">{{product.product}}</h6>
      
      <div class="card-text">
        <b style="font-size: 14px; color: cornflowerblue;">${{product.offer_price}}.00</b> &nbsp; <p class="d-inline" style="font-size: 12px; text-decoration: line-through;">${{product.price}}.00</p>
        <br>
        <span class="bi bi-cart3 me-1"></span>
        <b>Add to cart</b> 
      </div>
    </div>
  </div>

