
<div class="container w-25">
    <h4 class="d-flex justify-content-center mt-5 mb-4" style="font-family: 'Homemade Apple', cursive; font-size: x-large;">Sign Up</h4>
    
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name"
                   required
                   [(ngModel)]="signupDetails.name" name="name"
                   #name="ngModel">
        </div>
        <div class="form-group">
            <label for="email">Email Id</label>
            <input type="text" class="form-control" id="email"
                   required
                   [(ngModel)]="signupDetails.email_id" name="email"
                   #email="ngModel">
        </div>
        <div class="form-group">
            <label for="name">Password</label>
            <input type="password" class="form-control" id="password"
                   required
                   [(ngModel)]="signupDetails.password" name="password"
                   #password="ngModel">
        </div>

        <div class="d-flex justify-content-start" >
            <button class="btn btn-dark mt-3">Sign Up</button>
            <button routerLink="/login" class="btn btn-light border ms-3 mt-4" style="font-size: 12px; height: fit-content;">Go to Login</button>
        </div>
    </form>
    <img src="assets/img/logo.png" class="d-flex mx-auto" alt="" style="position: absolute; top: 85%; left: 87%;">

</div>