  <!-- 9. Footer Begins  -->
  <footer  style="background-color: black;">
    <br>
    <div class="container" style="display: flex; justify-content: space-between; color: white; ">
      <span style="font-size: 12px;">
        &copy; 2021 WTC Store. All Rights Reserved.
      </span>
      <span>
        <i class="fa fa-cc-discover" style="font-size: 32px; margin-right: 6px;"></i>
        <i class="fa fa-cc-mastercard" style="font-size: 32px; margin-right: 6px;"></i>
        <i class="fa fa-cc-paypal" style="font-size: 32px; margin-right: 6px;"></i>
        <i class="fa fa-cc-visa" style="font-size: 32px; "></i>
      </span>
    </div>
    <br>
    <br>
  </footer>
  <!-- Footer Ends  -->